
@font-face {
    font-family: 'CustomHeading';
    src: url("/assets/Arial_Rounded_MT_Bold.ttf") format('embedded-opentype'), /* Internet Explorer */
         url("/assets/Arial_Rounded_MT_Bold.ttf") format('woff2'),             /* Super Modern Browsers */
         url("/assets/Arial_Rounded_MT_Bold.ttf") format('woff'),              /* Pretty Modern Browsers */
         url("/assets/Arial_Rounded_MT_Bold.ttf") format('truetype'),          /* Safari, Android, iOS */
         url("/assets/Arial_Rounded_MT_Bold.ttf") format('svg');               /* Legacy iOS */
}
#ModeToggle {
    height: 4vh;
    width: 100vw;
    /* color: blueviolet; */
    color: #0e005c;
    background-color: #ff000000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vh;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    font-weight: 1000;
    z-index: 5;
}

body {
	margin: 0%;
}

#ft {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #23d573, #11ff11, #00923d, #070069);
	background-size: 400% 400%;
	animation: gradient 40s ease infinite;
	height: 15vh;
    z-index: 1;
    position: relative;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
    25% {
        background-position: 25% 75%;
    }
	50% {
		background-position: 100% 50%;
	}
    75% {
        background-position: 75% 25%;
    }
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 1vw;
    color: #FFFFFF;
}

#ftbg {
    height: fit-content;
    width: 100vw;
    display:grid;
    align-items: end;
}