* {
    font-family: url("/assets/Arial_Rounded_MT_Bold.ttf");
}

:root {
    --var1: #1e00ca;
    --var2: #120061;
    --HeadHeight: 15vh;
    --FontSize: 2rem;
    --HFontSize:2.75rem;
    --SFontSize: 1rem;
    --bg:  linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #23d573, #11ff11, #00923d, #070069);
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 25% 75%;
    }
    50% {
        background-position: 50% 100%;
    }
    75% {
        background-position: 25% 75%;
    }
    100% {
        background-position: 0% 50%;
    }
}
body {
	margin: 0%;
}

#he1 {
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #23d573, #11ff11, #00923d, #070069); */
    background: var(--bg);
	background-size: 400% 400%;
	animation: gradient 40s ease infinite;
	height: var(--HeadHeight);
    z-index: 1;
    position: relative;
    padding: 0%;
}

* {
    font-size: var(--FontSize);
}

/* text eff */

#he2{
    display: flex;
    height:100%;
}
div#he1.head div h3 {
    font-size: var(--HFontSize);
    color: #0e005c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
}
div#ftbg div#ft h1 div#ModeToggle {
    font-size: var(--HFontSize);
    color: #0e005c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
}
div#ftbg div#ft div h2 {
    font-size: var(--SFontSize);
}
.WebImg {
    height: var(--HeadHeight);
    margin: 0;
    position: relative;
    border-radius: 20%;
    display: flex;
    max-height: var(--HeadHeight);
}

#filler {
    height: 100%;
    width: 10%;
}
