body {
    background-color: black;
}
div.StartingText {
    color: #FFFFFF;
    display:flex;
    justify-content: center;
    font-family: sans-serif;
}

div.ST1 {
    color:#00bdbd;
    display:flex;
    justify-content: center;
    font-family: sans-serif;
}
div.ST2 {
    color: #c4ffff;
    display:flex;
    justify-content: center;
    font-family: sans-serif;
}
div.ST3 {
    color: #3700ff;
    display:flex;
    justify-content: center;
    font-family: sans-serif;
}
div#dName {
    color: #000dc0;
    font-family: cursive,
                'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 85%;
}
/* ul {
    display: grid;
    justify-items: center;
    gap: 1%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
li {
    
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
} */
ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%; 
    list-style: none;
    padding: 0%;
    margin: 0%;
  }
  ul li {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    background-color: #3c3c3c;
    padding: 0%;
    margin: 0%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.038em;
  }

/* Pre-loader */
/* #LoaderWrapper.LoaderSec {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100px;
    background: #222222;
    z-index: 10000;
}
#LoaderWrapper.LoaderSec.SecRight {
    right: 0;
}
#LoaderWrapper.LoaderSec.SecLeft {
    left: 0;
}

#Loader { */
    /* min-width: 100px;
    min-height: 100px;
    width: 10%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-items: center; */
    /* z-index: 10001;
} */
/* h1 {} */
/* #MainBody {
    display: grid;
    align-content: center;
    justify-content: center;
} */

/* loaded */

/* .Loaded #LoadedWrapper .LoaderSec.Sec-Right {
    width: auto;
}
.Loaded #LoadedWrapper .LoaderSec.Sec-Left {
    width: auto;
} */

/* https://ihatetomatoes.net/create-custom-preloading-screen/ <--link to webpage used as ref */