:root {
  --clr-neon: #000061;
  --clr-bgs: #000021;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url("/assets/UC.png");
  min-height: 100vh;
  display:grid;
  place-items: center;
  background: var(--clr-bgs);
  font-family: 'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
  color: var(--clr-neon);
}

.neon {
  font-size: 4rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: currentColor 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 
    0 0 0.125em #ffffff85,
    0 0 0.55em currentColor;

  box-shadow: inset 0 0 0.5em 0 var
  (--clr-neon), 0 0 0.5em 0 var
  (--clr-neon);
}

div.UC {
  background-color: #00000000;
  height: 10vh;
  width: 100vw;
  opacity: 100%;
  display:flex;
  align-items: center;
  justify-items: center;
  font-size: 5vh;
  color: #2121F0;
}
/* 
#TopUC {
  background-position: top;
}

#BotUC {
  background-position: bottom;
}

div.UCMain {
  display:grid;
  align-items: center;
  height: 10%;
  width: 100%;
  z-index: 5;
}

div.UCColor {
  display:grid;
  align-items: center;
  height:2%;
  width:100%;
  z-index: 10;
}

div.UCBlack {
  display:grid;
  align-items: center;
  background-color: black;
  z-index: 15;
}

div.UCYellow {
  display:grid;
  align-items: center;
  background-color: yellow;
  z-index: 15;
} */