/* Colors for site. */
:root {
  --neon: #0000ff;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  background-image: url("/assets/UC.png");
  min-height: 100vh;
  display:grid;
  place-items: center;
  background: linear-gradient(180deg, #ffff00,#708a00,#254b00,#000418,#000418,#254b00,#708a00,#ffff00);
  font-family: 'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
  color: var(--clr-neon);
  margin: 0;
}

.texta {
  font-size: 4rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--neon);
  border: currentColor 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 
    0 0 0.225em #3988ff,
    0 0 1.55em currentColor;

  box-shadow: inset 0 0 0.5em 0 var
  (--neon), 0 0 0.5em 0 var
  (--neon);
}

div.UC {
  background-color: black;
  border-radius: 50px;
  height: fit-content;
  width: fit-content;
  display: grid;
  text-align: center;
  font-size: 8vh;
  font-family: 'Times New Roman', Times, serif;
  color: #fffb00;
  box-shadow: 5% #00ff40;
  border: currentColor 0.4vw solid;
  margin: 0%;
}

div {
  justify-items: stretch;
}

#UCTop {
  justify-self: top;
}
#UCBot {
  justify-self: bottom;
}
