* {
  font-family: "Arial Rounded MT";
  font-size: var(--FontSize);
  color: var(--txt);
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  /* 25% {
    background-position: 25% 75%;
  } */

  50% {
    background-position: 50% 100%;
  }

  /* 75% {
    background-position: 25% 75%;
  } */

  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0%;
  overflow-x: hidden;
  background: var(--bg);
}

/* .head,
.head div,
.head div img {
  max-height: 100px;
} */

#MainBody {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
}

/* heading,
footer {
  z-index: 500;
} */

#he1 {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #23d573, #11ff11, #00923d, #070069); */
  background: var(--bg-gradient-hdr);
  /* background-color: rgba(255, 255, 255, 0.5); */
  backdrop-filter: blur(10px);
  background-size: 400% 100%;
  animation: gradient 40s ease infinite;
  height: fit-content;
  z-index: 1;
  position: relative;
  padding: 1vw;
  -webkit-box-shadow: 0px 0px 90px -20px var(--bg-shadow);
  -moz-box-shadow: 0px 0px 90px -20px var(--bg-shadow);
  box-shadow:
    0px 0px 90px -20px var(--bg-shadow),
    0 0 8px 1px #ffffff2f inset;
  border-radius: 0 0 20px 20px;
}

.WebImg {
  height: var(--HeadHeight);
  position: relative;
  border-radius: 20%;
  display: flex;
  cursor: pointer;

}

.WebImg::after {
  box-shadow: 0 0 16px 2px #ffffff5f inset;
  border-radius: inherit;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hamBurger {
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: block; */
  height: var(--HeadHeight);
  margin: 0;
  /* position: relative; */
  border-radius: 20%;
  /* display: flex; */
  aspect-ratio: 1/1;
  background-color: var(--hamburger-color);
  box-shadow: 0 0 16px 1px #ffffff5f inset;
}

.vsweb {
  justify-self: center;
  align-self: center;
  min-width: fit-content;
  margin: auto;
  cursor: none;
}

.vsweb-wrapper {
  width: calc(90vw - (var(--HeadHeight)*2));
  min-width: fit-content;
  height: var(--HeadHeight);
	container-type: inline-size;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* text eff */

#he2 {
  display: flex;
  height: var(--HeadHeight);
  justify-items: center;
  align-items: center;
  max-width: 1200px;
  padding: 0%;
}

div#he1.head div h3 {
  font-size: var(--HFontSize);
  /* height: var(--HeadHeight); */
  height: fit-content;
  color: var(--MainFontColor);
  font-family: var(--arial-rounded-bold), Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  align-items: center;
  margin: 0%;
}

div#ftbg div#ft h1 div#ModeToggle {
  height: fit-content;
  font-size: var(--HFontSize);
  color: #0e005c;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  container-type: inline-size;
}
#ft .copyright {container-type: inline-size;}
.copyright h2 {
  font-size: var(--SFontSize);
}

/* * Hamburger menu stuff */
*,
*::after,
*::before {
  box-sizing: border-box;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.15);

  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: 69%;
  height: 69%;
  /* position: absolute; */
  /* position: relative; */
  /* top: var(--hamburger-margin);
  right: var(--hamburger-margin); */
  z-index: 999;
  outline: none;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: #000020;
  --background: #fff;
}

/* .hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
} */

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition:
    opacity var(--animation-timing),
    width var(--animation-timing),
    rotate var(--animation-timing),
    translate var(--animation-timing),
    transform var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked) {
  transform: translateX(10%);
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: 100%;
  /* padding: 0.5rem 1rem; */
  padding-top: calc(1rem);
  background-color: var(--sidebar-bg);
  color: var(--sidebar-fd);
  width: 100vw;
  min-height: 100lvh, 100vh;
  z-index: 500;
  position: fixed;
  top: 0;
  transition: transform 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}
.sidebar nav {
  position: relative;
  top: 0;
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  padding-top: var(--HeadHeight);

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
nav .mainSb {
  height: 100%;
  width: 100%;
  padding: 1%;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  
}
.mainSb .side-grid {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: skew(-4deg);
}

.sidebarBtn {
  text-align: center;
  padding: 0%;
  margin: 0%;
  text-transform: uppercase;
  letter-spacing: 0.038em;
  /* border-radius: 20px; */
  /* border-color: aqua; */
  /* border: aqua 0.025em solid; */
  cursor: pointer;
  text-decoration: none;
  /* color: #000dc0; */
  height: fit-content;
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* transform: skew(-4deg); */
  border-radius: 10px 10px 10px 10px;
  /* margin-bottom: 2%; */
  margin-top: 5px;
  margin-bottom: 5px;
  
  position: relative;
  box-sizing: border-box;

  border: 3px solid #0000c0;
  box-shadow:
    0 0 0 0 #00000a inset,
    0 0 0 0 #000008 inset,
    0 0 0 0 #000006 inset,
    0 0 0 0 #000004 inset;
  background-color: #06003d;
  color: #008f8f;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* transition: box-shadow 500ms, top 1s, left 1s; */
}
.sidebarBtn:hover {
  /* box-shadow: #0004ffb6 0px 0.35rem 1.175rem, #00c3ffdc 0px 0.175rem 0.5rem; */
  transform: translateY(-3px) scale(1.1) skew(4deg);
  height: fit-content;
  margin-top: 1%;
  margin-bottom: 1%;
  color: #00ffff;

  box-shadow:
    0 0 0 10px #000080 inset,
    0 0 0 20px #000060 inset,
    0 0 0 30px #000050 inset,
    0 0 0 40px #000040 inset;
}

.sidebarBtn.theme-block {
  display: inherit;
  flex-direction: inherit;
  justify-items: inherit;
  align-items: inherit;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #000020;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  /* transition: background 0.25s; */
  transition: all 500ms;
  /* border-color: aqua; */
  border: aqua 0.025em solid;

  transform: skew(-4deg);
  border-radius: 16px;

}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #ffffff, #bef0ff 100%);
  border-radius: 16px;
  /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25); */
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle-switch:hover {
  box-shadow: #0004ffb6 0px 0.35rem 1.175rem, #00c3ffdc 0px 0.175rem 0.5rem;
  transform: translateY(-3px) scale(1.1);
  z-index: 999;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #ffffff 0%, #bef0ff 100%);
  /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5); */
}

.toggle-checkbox:checked+.toggle-switch {
  background: #0000a0;

}
.toggle-checkbox:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  height: fit-content;
  font-size: var(--HFontSize);
  font-family: inherit;
  display: flex;
}

.toggle-label-small {
  margin-left: 5px;
  position: relative;
  top: calc(var(--FontSize) / 10);
  height: fit-content;
  font-size: var(--FontSize);
  font-family: inherit;
}

.theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: inherit;
}

main,
#he1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text {
  height: 100vh;
  padding: 0%;
  padding-left: 1vw;
  padding-right: 1vw;
}

hr {
  opacity: 0.5;
  width: 100%;
}

.side-grid hr {
  width: 50%;
  margin: 20px;
}

#bg {
  max-width: 1200px;
}

main {
  /* top: calc(clamp(50px, 10vw, 100px) * -1); */
  top: 0%;
  position: relative;
  z-index: 100;
}

.subMain {
  pointer-events: all;
}

main,
main #bg,
#text,
.startingHead {
  pointer-events: none;
}

.viewportDecor {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2000;
  pointer-events: none;
  box-shadow:
    0 0 16px 1px #00ffff80 inset,
    0 0 0 20px #00ffff60;
  border-radius: 32px;
}
/* 
.scroll-watcher {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100vw;
  bottom: 0;
  margin: 10px;
  background-image: conic-gradient(
    green,
    green
  );
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scroll-watcher linear scroll();
  pointer-events: all;
}

@keyframes scroll-watcher {
  from {
    background-image: conic-gradient(
      green,
      green
    );
  } to {
    background-image: conic-gradient(
      blue,
      blue
    );
  }
}

.wrap-btn--sound {
  left: 0;
}

.btn--sound {
  height: 40px;
  width: 40px;
  border-radius: inherit;
  background: pink;
}

.wrap-btn--up {
  right: 0;
}

.btn--up {
  height: 40px;
  width: 40px;
  border-radius: inherit;
  background: aqua;
} */

/* * Footer */

#ModeToggle h1 {
  height: var(--HeadHeight);
  width: 100vw;
  /* color: blueviolet; */
  color: var(--MainFontColor);
  /* color: #0e005c; */
  background-color: #ff000000;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-weight: 1000;
  z-index: 5;
  font-size: var(--HFontSize);
}

#ft {
  background: var(--bg);
  background-size: 400% 400%;
  animation: gradient 40s ease infinite;
  height: calc(var(--HeadHeight) * 2);
  /* height: fit-content; */
  z-index: 1;
  position: relative;
  display: grid;
  align-self: start;
  padding: 1%;
  -webkit-box-shadow: 0px 0px 90px -20px var(--bg-shadow);
  -moz-box-shadow: 0px 0px 90px -20px var(--bg-shadow);
  box-shadow:
    0px 0px 90px -20px var(--bg-shadow),
    0 0 8px 1px #ffffff2f inset;
  border-radius: 20px 20px 0 0;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rgba(255, 255, 255, 0.8);
}

h2 {
  color: rgba(255, 255, 255, 0.5);
}

#ftbg {
  height: fit-content;
  width: 100vw;
  display: grid;
  align-items: end;
  z-index: 999;
  /* position: fixed; */
  bottom: 0;
}

#ft div h2 {
  justify-self: flex-start;
  align-self: flex-end;
}

#ft div {
  display: grid;
  justify-content: start;
  justify-items: center;
}

#ft #ModeToggle {
  align-self: center;
  justify-self: center;
  height: max-content;
  width: max-content;
}

/* * Pre-loader */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  z-index: 2001;
  background: #000002;
  display: grid;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  z-index: 2500;

}


#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 2000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

.loaderPercentage {
  color: white;
  font-size: large;
  z-index: 2500;
  justify-self: center;
  top: 80%;
  position: fixed;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
  opacity: 0;
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

.loaded #loader-wrapper .loaderPercentage {
  opacity: 0;
  transition: all 200ms;
}

/*! https://ihatetomatoes.net/create-custom-preloading-screen/ <--link to webpage used as ref */

.loaderBarWrap {
  height: fit-content;
  padding: .2rem;
  width: 90vw;
  border-radius: 100vw;
  position: absolute;
  left: 5vw;
  bottom: 5vh;
  z-index: 2000;
  border: white solid .1rem;
}

.loaderBar {
  height: 10px;
  background: white;
  min-width: 0;
  width: var(--loaderBarWidth);
  border-radius: 100vw;
}