:root {
	--font-size: 1.5rem;
	--s-font-size: 0.7rem;
	--font-weight: bold;
	--bg-clr: #06002b;
	--txt-clr: #cbecff;
	--font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* --font: "../public/assets/Arial_Rounded_MT_Bold.ttf"; */
	
}

body,
* {
	background: var(--bg-clr);
	color: var(--txt-clr);
	font-family: var(--font);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	
	cursor: crosshair;
}

html,
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;

}

body::-webkit-scrollbar {
	display: none;
}

#follow1 {
	min-width: fit-content;
	width: clamp(1em, 4em, 300px);
	min-height: fit-content;
	/* height: clamp(1em, 1.25em, 40px); */
	/* height: 20px;
	width: 50px; */
	border-radius: 4px;
	background: #00ff0080;
	position: absolute;
	top: 0;
	left: -1.25em;
	opacity: 0;
	display: inline-block;
	transform: rotate(-90deg);
	font-size: var(--s-font-size);
	font-weight: var(--font-weight);

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: none;
	z-index: 999;

}
#follow2 {
	min-width: fit-content;
	width: clamp(1em, 4em, 300px);
	min-height: fit-content;
	height: clamp(1em, 1.25em, 40px);
	/* height: 20px;
	width: 50px; */
	border-radius: 4px;
	background: #ff000080;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	font-size: var(--s-font-size);
	font-weight: var(--font-weight);

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: none;
	z-index: 999;

}

#follow1:hover,
#follow2:focus {
	transition: mouse-exit 1s ease forwards;
}

@keyframes mouse-exit {
	0% {
		opacity: 1;
	};

	100% {
		opacity: 0;
	};
}
