* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	height: 200vh;
	color: var(--clr-neon);
	background: var(--bg);

	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--txt);
}

body::-webkit-scrollbar {
	display: none;
}

.texta {
	display: inline-block;
	cursor: pointer;
	color: var(--neon);
	border: currentColor 0.125em solid;
	padding: 0.25em 1em;
	border-radius: 0.25em;
	font-size: 5rem;
	text-shadow:
		0 0 0.225em var(--neon2),
		0 0 1.55em currentColor;
	box-shadow: 
		0 0 0.5em 0 var(--neon) inset,
		0 0 0.5em 0 var(--neon);
	position: relative;
	z-index: 999;
	transition:
		transform var(--def-transition-duration) ease-in-out,
		filter var(--def-transition-duration) ease-in-out;
}

.texta:hover {
	transform: scale(1.1);
	filter: brightness(1.5);
}

/* ! Landing page main stuff */

/* cool text stuff */
.lo {
	border: currentColor 0em solid;
	padding: 0.05em 0.05em;
	margin: 0%;
	box-shadow: inset 0 0 0 0 rgb(51, 255, 0), 0 0 0 0 rgb(255, 230, 0);
	text-shadow: 0 .1em .25em rgba(17, 0, 167, 0.295);
	height: calc(100 / 6);
	width: 100%;
}

.ool {
	font-size: 14cqi;
}

.cool {
	background-clip: text;
	font-size: 24cqi;
	background-color: #5f5fdf;
	background-image: linear-gradient(-45deg, #df9fff, #8f5fdf, #3f3faf, #2f2f8f);
	background-image: var(--txt-cool);
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.cool:hover {
	animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

@keyframes rainbow-text-simple-animation-rev {
	0%, 40% {background-size: 650%;}
	100% {background-size: 98%;}
} @keyframes rainbow-text-simple-animation {
	0%, 100% {background-size: 98%;}
	50% {background-size: 200%;}
}
/* cool text stuff end */

/* arrow (to be replaced with svg) */
.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	height: fit-content;
	width: 100vw;
	position: relative;
	z-index: 999;
	cursor: none;
}
.arrow svg {
	height: 5rem;
	width: 5rem;
	cursor: pointer;
}
.arrow svg path {
	opacity: .6;
	object-fit: cover;
	transition: opacity var(--def-transition-duration) ease;
}
.arrow svg:hover path {opacity: 1;}
/* arrow end */

.glass {
	backdrop-filter: blur(8px);
	border-radius: 2rem;
	padding: 4rem 1.5rem;
	height: fit-content;
	width: 32rem;
	overflow: hidden;
	box-shadow: 0 8px 20px 0 #ffffff21;
	/* background: #8fa0ff18; */
	background-image: linear-gradient(
		var(--clr-dialog-blur),
		transparent
	);
	position: relative;
	z-index: 999;
}

.glass h1 {
	height: fit-content;
	width: 90%;
	margin: auto;
    container-type: inline-size;
}
main,
.heroContent,
.hero {
	height: 100vh;
	height: 100svh;
}

main,
.hero,
.heroContent,
.glass,
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 1200px;
	width: 100vw;
	height: 100%;
}

/* * hero */
img {
	display: block;
}

.hero {
	height: 100vh;
	color: var(--text-bg);
	object-fit: cover;
	width: 100vw;
	position: relative;
	z-index: 999;
	cursor: none;
}

.heroContent {
	position: absolute;
	z-index: 1;
	margin: auto;
}
.heroContent * {cursor: initial;}

.hero .container::before {
	content: '';
	position: absolute;
	height: 60vh;
	width: 100vw;
	background: var(--hero-bg);
	z-index: -1;
	top: 0;
}

.hero-under {
	background-image: linear-gradient(
		var(--hero-bg),
		var(--bg)
	);
	width: 100vw;
	height: 40vh;
	position: absolute;
	z-index: -1;
	bottom: 0;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.vid {
	position: absolute;
	object-fit: cover;
}

#hero-vid {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -2;
}
/* * hero end */