html {
  background-color: #0f0f4f;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 90vw;
  margin: auto;
}
body {
  background-color: #000020;
  display: flex;
  justify-content: center;
  align-items: center;
  /*
	height: 100vh;
	width: 100vw;
	*/
  height: fit-content;
  width: fit-content;
  border: solid cyan;
  border-radius: 30px 4px;
  color: #ffffffaf;
  padding: 10px;
  margin: auto;
  transform: skew(-4deg);
  max-width: 1200px;
}

.idd {
  width: 100%;
  aspect-ratio: 1/0.1;
  background-color: #5f5f7fff;
  /* transform: skew(-4deg); */
  transition: all 300ms;
  max-width: 1200px;
  container-type: inline-size;
}

.idd:hover {
  box-shadow: #00c3ff90 0px 0.35rem 1.175rem, #00025eb6 0px 0.175rem 0.5rem;
  transform: translateY(-3px) scale(1.01);
  z-index: 99;
  transform: skew(4deg);
  aspect-ratio: 1/0.2;
  background-color: #00ffeab4;
  border-radius: 5px;
}
.idd:hover a {
  color: white;
}

a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff8f;
  transition: all 300ms;
  font-size: 4cqi;
}
.up {
  border-radius: 15px 2px 5px 5px;
}
.mid {
  border-radius: 5px 5px 5px 5px;
}
.dn {
  border-radius: 5px 5px 15px 2px;
}
.fil {
  width: 100%;
  height: 5px;
}

h1 {
  text-align: center;
  font-size: 6cqi;
  /* text-decoration-line: underline; */
  font-weight: 900;
  text-decoration: #5f5f7ffe underline;
}

html,
body {
  height: 100svh, 100vh;
}

@media (orientation: portrait) {
  .idd {
    aspect-ratio: 1/0.25;
  }
  .idd:hover {
    aspect-ratio: 1/0.4;
  }
  a {
    font-size: 6cqi;
  }
  h1 {
    font-size: 8cqi;
  }
}