h1 {
	background: black;
	color: white;
}

body {
	background-color: black;
	overflow-x: hidden;
	width: 100vw;
}

body::-webkit-scrollbar {
	display: none;
}

.subMain {
	height: 100%;
    width: calc(100vw - 2rem);max-width: 1200px;
	border-radius: 20px;
	background: #22222260;
	background-image: radial-gradient( #22222260);
	box-shadow: 0 0 16px 1px #ffffff5f inset;
	padding: 1%;
	transition: all 500ms ease-in-out;
	backdrop-filter: blur(4px);
}

/* .subMain:hover {
	background: #33333380;
	background-image: radial-gradient( #62b3ff10, #0077ff10, #0000ff10, #0000ff02);
} */

/* main {
	box-shadow: 0 0 10px 1px rgba(0, 255, 255, 0.69) inset;
} */

div.ST1 {
	color: #00bdbd;
	/* justify-content: center; */
}
div.ST2 {
	color: #c4ffff;
	/* justify-content: center; */
}
div.ST3 {
	color: #3700ff;
	justify-content: center;
	flex-direction: column;
}
div#dName {
	color: #1310c5;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

ul.grid {
	/* background: #003cff6c; */
	/* background: #0070f17e; */
	border-radius: 2rem 0rem 2rem 0rem;
	padding: 1.5vh;
	margin-top: 1%;
	margin-left: 5%;
	margin-bottom: 7%;
	margin-right: 5%;
	align-content: center;
	justify-content: center;
	/* height:fit-content; */
	/* box-shadow: 
	#0070f17e 0rem 0.5rem 2rem inset,
	#00087477 0rem 0.0rem 4rem inset; */
	/* box-shadow: #000000 0 0 4rem inset; */
	transform: skew(-2deg);
}
.subGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(5, 32vh);
	column-gap: 0.3rem;
	row-gap: 0.3rem;
	list-style: none;
	padding: 0%;
	align-content: center;
	justify-content: center;
	width: inherit;
	height: fit-content;
}
ul li a.card {
	text-align: center;
	background-color: #06003d;
	padding: 0%;
	margin: 0%;
	text-transform: uppercase;
	letter-spacing: 0.038em;
	/* border-radius: 20px; */
	border-color: aqua;
	border: aqua 0.025em solid;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: #000dc0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: all 500ms;
	overflow: hidden;
	font-size: 10cqi;

	box-shadow:
	0 0 0 0 #00000a inset,
	0 0 0 0 #000008 inset,
	0 0 0 0 #000006 inset,
	0 0 0 0 #000004 inset,
	0 0 16px 1px #ffffff5f inset;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	/* transform: skew(-4deg); */
}

.dummy, li.carda {container-type: inline-size;}
.dummy h2 {font-size: 6cqi;}

a.card:hover {
	box-shadow: 
	#0004ffb6 0px 0.35rem 1.175rem inset,
	#00c3ffdc 0px 0.175rem 0.5rem inset;
	transform: translateY(-3px) translateZ(10px) scale(1.1) skew(2deg);
	z-index: 999;
	margin: 1%;
	box-shadow:
	0 0 0 10px #000080 inset,
	0 0 0 20px #000060 inset,
	0 0 0 30px #000050 inset,
	0 0 0 40px #000040 inset;
	border-radius: 10px 10px 10px 10px;
	/* margin: 10%; */
}
li.carda:hover {
	z-index: 999;
}

h1 {
	margin: 0%;
}

.leftt {
	border-radius: 50px 10px 10px 10px;
}
.rightt {
	border-radius: 10px 10px 10px 10px;
}
.mid {
	border-radius: 10px 10px 10px 10px;
}
.leftb {
	border-radius: 10px 10px 10px 10px;
}
.rightb {
	border-radius: 10px 10px 50px 10px;
}

/* header {
	height: 0;
} */

#text,
main #bg {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.ST3 {container-type: inline-size;}
blockquote {
	text-align: justify;
	background-image: linear-gradient(
		-45deg, 
		#df9fff,
		#8f5fdf,
		#3f3faf,
		#2f2f8f);
	background-clip: text;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
	font-size: 3.5cqi;
	margin: 1vw;
}

/* * Bg Grid Stuff */

@keyframes background-pan {
	from {
	background-position: 0% center;
	} to {
	background-position: -200% center;
	}
}

#gridParent {
	animation: background-pan 10s linear infinite;
	background: linear-gradient(to right,
		var(--tile-clr-1),
		var(--tile-clr-2),
		var(--tile-clr-1));
	background-size: 200%;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	/* padding: 2px; */
	z-index: 0;
	position: fixed;
}

#gridParent.toggled {
	animation: none;
}

#gridParent.toggled>#tiles>.tile:hover {
	opacity: 0.1 !important;
}

#tiles {
	height: calc(100vh - 1px);
	width: calc(100vw - 1px);
	position: relative;
	z-index: 1;

	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	grid-template-rows: repeat(var(--rows), 1fr);

	cursor: none;
}

.tile {
	cursor: pointer;
	position: relative;

	cursor: inherit;
}

.tile:hover:before {
	background-color: #09091F;
	box-shadow: 0 0 10px 1px rgba(0, 255, 255, 0.69) inset;
}

.tile:before {
	background-color: #000000;
	content: "";
	inset: 0px;
	position: absolute;
	border-radius: 5px;
}

/*  * hero stuff */

.hero {
	display: flex;
	flex-direction: row;
	height: max-content;
}

.hero1 {
	width: 50%;
	height: var(--hero-height-2);

	container-type: inline-size;

	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
}

.STA2 {
	container-type: inline-size;
}

.hero2 {
	width: 50%;
	height: var(--hero-height-2);
}

.hero-img {
	width: 150px;
	height: 150px;
	position: relative;
	filter: blur(150px);
	transition: all 500ms ease-in-out;
}

.hero-img1 {
	background: red;
	transform: translateX(20rem) translateY(2rem);
}
.hero-img2 {
	background: blue;
	transform: translateX(10rem) translateY(2rem);
}
.hero-img3 {
	background: green;
	transform: translateX(0rem) translateY(5rem);
}
.hero-img4 {
	background: yellow;
	transform: translateX(16rem) translateY(-1rem);
}

.startingHead {
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: var(--HeadHeight);
	overflow: hidden;
}

.alignHead {
	height: max-content;
	justify-content: center;
	padding: 2%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.StartingText,
.StartingText *,
.Decor {
	height: min-content;
	/* width: max-content; */
}

.STA0 {
	display: flex;
	align-items: center;
}

.STA0 * {
	font-size: 6cqi;
}
.STA0,
.STA1,
.STA2,
.STA3 {
	font-size: 10cqi;
	font-family: "Arial";
	font-weight: 700;

	display: flex;
	flex-wrap: wrap;
    align-items: flex-end;
}

.STB1,
.STB2 {
	font-size: 3cqi;
	color: #ffffffa0;
}

.Decor {
	background-clip: text;
	/* font-size: 11cqi; */
	background-color: #5f5fdf;
	background-image: linear-gradient(-45deg,
			#df9fff,
			#8f5fdf,
			#3f3faf,
			#2f2f8f);
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
	font: inherit;
}

.Decor:hover {
	animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


@keyframes rainbow-text-simple-animation {
	0% {
		background-size: 100%;
	}

	50% {
		background-size: 200%;
	}

	100% {
		background-size: 100%;
	}
}


@media (orientation: portrait) {
	.hero {
		flex-direction: column;
	}

	.hero1 {
		width: 100%;
		height: var(--hero-height);
		min-height: fit-content;
		position: absolute;
	}

	.hero2 {
		width: 100%;
		height: 100%;
	}

	.alignHead {
		height: 100%;
	}
	.startingHead {
		height: 100%;
		max-height: 1500px;
		margin: 0;
		padding-top: calc(var(--HeadHeight) + 4%);
		padding-bottom: 2%;
	}
	.subGrid {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(10, 20vh);
	}
	blockquote {
		font-size: 5cqi;
	}
}